# Core dependencies
PyQt5==5.12.3
opencv-python==4.11.0.*
pillow==9.2.0
pyinstaller
natsort
qtawsome
# tracker
scikit-learn
loguru
filterpy
easydict
timm
jpeg4py
visdom
tensorboardX

# Evaluation & Analytics dependencies
pandas
scipy
matplotlib
pyyaml
shapely
rich
ultralytics
faster-coco-eval

